body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u153 {
  position:absolute;
  left:60px;
  top:50px;
  width:160px;
  height:90px;
}
#u154 {
  position:absolute;
  left:2px;
  top:37px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  position:absolute;
  left:240px;
  top:60px;
  width:300px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  position:absolute;
  left:240px;
  top:100px;
  width:280px;
  height:40px;
}
#u158 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
