body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:41px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
}
#u306 {
  position:absolute;
  left:2px;
  top:12px;
  width:324px;
  word-wrap:break-word;
}
#u307 {
  position:absolute;
  left:0px;
  top:40px;
  width:328px;
  height:517px;
  overflow:hidden;
}
#u307_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:517px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u307_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:517px;
}
#u309 {
  position:absolute;
  left:2px;
  top:-270px;
  width:324px;
  word-wrap:break-word;
}
#u307_ann {
  position:absolute;
  left:321px;
  top:36px;
  width:1px;
  height:1px;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:51px;
}
#u310 {
  position:absolute;
  left:0px;
  top:430px;
  width:328px;
  height:50px;
}
#u311 {
  position:absolute;
  left:2px;
  top:17px;
  width:324px;
  word-wrap:break-word;
}
